@using MvcOnlineOtomasyon.Models.Sınıflar
@model List<SatisHareket>
@{
    ViewBag.Title = "DepPersonelSatis";
    Layout = "~/Views/Shared/_MainView.cshtml";
}

<div class="container">
    <br />
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Personel Adı: @ViewBag.dpers</li>
    </ol>
    <table class="table table-condensed">
        <tr>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Fiyat</th>
            <th>Adet</th>
            <th>Toplam</th>
            <th>Tarih</th>
            <th>Yazdır</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Urun.UrunAd</td>
                <td>@x.Cariler.CariAd @x.Cariler.CariSoyad</td>
                <td>@x.Fiyat ₺</td>
                <td>@x.Adet</td>
                <td>@x.ToplamTutar</td>
                <td>@x.Tarih.ToString("dd/MM/yyyy")</td>
                <td><a href="#" class="btn btn-outline-dark">Yazdır</a></td>
            </tr>
        }
    </table>
</div>

