@model MvcOnlineOtomasyon.Models.Sınıflar.SatisHareket
@{
    ViewBag.Title = "SatisGetir";
    Layout = "~/Views/Shared/_MainView.cshtml";
}
<div class="container">
    @using (Html.BeginForm("SatisGuncelle", "Satislar", FormMethod.Post))
    {
        <br />
        @Html.HiddenFor(x => x.SatisHareketId)
        @Html.Label("Ürün")
        @Html.DropDownListFor(x => x.UrunId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        <br />
        @Html.Label("Cari")
        @Html.DropDownListFor(x => x.CariId, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
        <br />
        @Html.Label("Personel")
        @Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
        <br />
        @Html.Label("Adet")
        @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
        <br />
        @Html.Label("Fiyat")
        @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
        <br />
        @Html.Label("Toplam Tutar")
        @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
        <br />
        @Html.Label("Tarih")
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Güncelle</button>
    }
</div>
